Repository effector/patronum: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json

feat: includes - change type check seq in includes fn
  src/includes/index.ts
Due: prettier --write

Deploying to gh-pages from @ effector/patronum@1e21dede62d45f80821debce3390c662a7fa147d 🚀
  pagefind/index/en_3c454e7.pf_index
  pagefind/index/en_4ab741e.pf_index
  pagefind/index/en_4c6fc43.pf_index
  pagefind/index/en_b0ce857.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2f3c4ba097.pf_meta
  pagefind/pagefind.en_ccc81b30f3.pf_meta
Due: prettier --write --parser json

feat: added create readonly store if source non unit.
  src/readonly/index.ts
  src/readonly/readonly.test.ts
Due: prettier --write

feat: xor operator
  src/babel-plugin-factories.json
  src/xor/index.ts
  src/xor/readme.md
  src/xor/xor.fork.test.ts
  src/xor/xor.test.ts
Due: prettier --write, prettier --write --parser json

fixup! feat: xor operator
  test-typings/xor.ts
Due: prettier --write

Update readme.md
  src/interval/readme.md
Due: none

docs: (delay) add motivation sections
  src/delay/readme.md
Due: none

docs: added motivation, made combineEvents docs move beginner-friendly
  src/combine-events/readme.md
Due: none

fix: combineEvents works after reset
  src/combine-events/combine-events.test.ts
  src/combine-events/index.ts
Due: prettier --write

docs: (delay) add motivation sections (#349)
  src/delay/readme.md
Due: none

Deploying to gh-pages from @ effector/patronum@7fcadc9fb0c0c5f8d98adc46361d171c38eff0ac 🚀
  operators/delay/index.html
  pagefind/fragment/en_e1223c7.pf_fragment
  pagefind/fragment/en_ed8ec01.pf_fragment
  pagefind/index/en_4ab741e.pf_index
  pagefind/index/en_86efa44.pf_index
  pagefind/index/en_b0ce857.pf_index
  pagefind/index/en_f46298c.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_822e5e25c8.pf_meta
  pagefind/pagefind.en_ccc81b30f3.pf_meta
Due: prettier --write --parser json

add leading feature to throttle method
  src/throttle/index.ts
  src/throttle/readme.md
  src/throttle/throttle.fork.test.ts
  src/throttle/throttle.test.ts
  test-typings/throttle.ts
Due: prettier --write

improve docs
  src/throttle/readme.md
Due: none

fix format
  src/throttle/index.ts
Due: prettier --write

docs: added motivation, made combineEvents docs move beginner-friendly (#350)
  src/combine-events/readme.md
Due: none

Deploying to gh-pages from @ effector/patronum@6d5c72870edf9a8f155dc7c416f40fc4d29eb354 🚀
  operators/combine-events/index.html
  pagefind/fragment/en_6e805ee.pf_fragment
  pagefind/fragment/en_bedea8f.pf_fragment
  pagefind/index/en_86efa44.pf_index
  pagefind/index/en_db78371.pf_index
  pagefind/index/en_f46298c.pf_index
  pagefind/index/en_fb87492.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_822e5e25c8.pf_meta
  pagefind/pagefind.en_cc0e28beb9.pf_meta
Due: prettier --write --parser json

chore: upgrade pnpm
  package.json
Due: prettier --write --parser json

Apply suggestion from @sergeysova
  src/throttle/index.ts
Due: prettier --write

docs: add control group and align xor readme
  .gitignore
  documentation/src/content/config.ts
  src/once/readme.md
  src/reset/readme.md
  src/xor/readme.md
Due: prettier --write

chore: reformat with prettier
  .prettierignore
  documentation/.prettierignore
  documentation/src/content/docs/guides/installation.mdx
  documentation/src/content/docs/index.mdx
  integration/cra/pnpm-lock.yaml
  integration/cra/public/index.html
  integration/cra/src/index.css
  integration/custom/pnpm-lock.yaml
  pnpm-lock.yaml
  scripts/generate-cts.js
  src/babel-plugin-factories.json
  src/combine-events/readme.md
  src/macro.cjs
  src/once/readme.md
  src/reset/readme.md
  src/xor/readme.md
  test-typings/once.ts
  test-typings/readonly.ts
  test-typings/tsconfig.json
Due: prettier --write, prettier --write --parser json

Deploying to gh-pages from @ effector/patronum@1586103296a5fa88cc6b6bd010662cad305542a5 🚀
  docs/xor/index.html
  index.html
  operators/index.html
  operators/reset/index.html
  operators/xor/index.html
  pagefind/fragment/en_12c585a.pf_fragment
  pagefind/fragment/en_50255a8.pf_fragment
  pagefind/fragment/en_821c728.pf_fragment
  pagefind/fragment/en_a4d5e46.pf_fragment
  pagefind/fragment/en_c35459a.pf_fragment
  pagefind/index/en_a967eff.pf_index
  pagefind/index/en_d9ac414.pf_index
  pagefind/index/en_db78371.pf_index
  pagefind/index/en_fb87492.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1f77f6c5e2.pf_meta
  pagefind/pagefind.en_cc0e28beb9.pf_meta
  sitemap-0.xml
Due: prettier --write --parser json

feat: condition with multiple units
  src/condition/condition.test.ts
  src/condition/index.ts
Due: prettier --write

fix: types and types test
  src/readonly/index.ts
  test-typings/readonly.ts
Due: prettier --write

chore: added more rights test
  src/condition/condition.test.ts
  test-typings/condition.ts
Due: prettier --write

feat(delay): add clock-less delay overload
  src/delay/delay.fork.test.ts
  src/delay/delay.test.ts
  src/delay/index.ts
  src/delay/readme.md
  test-typings/delay.ts
Due: prettier --write

docs: refactor condition readme
  .cursor/.agents/skills/writing-documentation-with-diataxis/SKILL.md
  .cursor/.agents/skills/writing-documentation-with-diataxis/principles.md
  .cursor/.agents/skills/writing-documentation-with-diataxis/reference.md
  skills-lock.json
  src/condition/readme.md
Due: prettier --write --parser json

fix(condition): throw if both branches omitted
  src/condition/condition.test.ts
  src/condition/index.ts
Due: prettier --write

Deploying to gh-pages from @ effector/patronum@d24f2565be2ae1b9967b0c47527407ca743d2b36 🚀
  operators/condition/index.html
  pagefind/fragment/en_4224726.pf_fragment
  pagefind/fragment/en_6f4aa5f.pf_fragment
  pagefind/index/en_301ee1d.pf_index
  pagefind/index/en_3118f09.pf_index
  pagefind/index/en_48f9343.pf_index
  pagefind/index/en_d75c266.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_27a0b8a228.pf_meta
  pagefind/pagefind.en_ef7a1362cf.pf_meta
Due: prettier --write --parser json

ci: get rid of nodejs 18x
  .github/workflows/nodejs.yml
Due: none

chore: generate correct sourcemaps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rollup.config.js
Due: prettier --write, prettier --write --parser json

style: upgrade prettier and reformat project
  package.json
  pnpm-lock.yaml
  src/combine-events/index.ts
  src/debug/index.ts
  src/either/index.ts
  src/equals/index.ts
  src/format/index.ts
Due: prettier --write, prettier --write --parser json

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write --parser json: any of: {*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}
