Repository effector/patronum: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json

chore: add pnpm lock files for website
  .github/workflows/docs.yml
  website/package.json
  website/pnpm-lock.yaml
Due: prettier --write --parser json

test: add lock files for integration tests
  .github/workflows/docs.yml
  .github/workflows/integration.yml
  integration/cra/package.json
  integration/cra/pnpm-lock.yaml
  integration/custom/package.json
  integration/custom/pnpm-lock.yaml
Due: prettier --write --parser json

chore: update jest. Updated snapshot format
  package.json
  pnpm-lock.yaml
  scripts/libraries.test.js
  src/and/and.fork.test.ts
  src/and/and.test.ts
  src/combine-events/combine-events.fork.test.ts
  src/combine-events/combine-events.test.ts
  src/condition/condition.fork.test.ts
  src/condition/condition.test.ts
  src/debounce/debounce.fork.test.ts
  src/debounce/debounce.test.ts
  src/debug/debug.fork.test.ts
  src/debug/debug.test.ts
  src/delay/delay.fork.test.ts
  src/delay/delay.test.ts
  src/either/either.fork.test.ts
  src/either/either.test.ts
  src/every/every.fork.test.ts
  src/every/every.test.ts
  src/format/format.fork.test.ts
  src/format/format.test.ts
  src/in-flight/in-flight.test.ts
  src/interval/interval.fork.test.ts
  src/interval/interval.test.ts
  src/or/or.fork.test.ts
  src/or/or.test.ts
  src/pending/pending.test.ts
  src/some/some.fork.test.ts
  src/some/some.test.ts
  src/split-map/split-map.fork.test.ts
  src/split-map/split-map.test.ts
  src/spread/spread.fork.test.ts
  src/status/status.test.ts
  src/throttle/throttle.fork.test.ts
  src/throttle/throttle.test.ts
  src/time/time.fork.test.ts
Due: prettier --write, prettier --write --parser json

docs: first of all setup pnpm
  .github/workflows/docs.yml
Due: none

test: before use node install pnpm
  .github/workflows/integration.yml
Due: none

docs: forgot to install deps inside correct directory
  .github/workflows/docs.yml
Due: none

docs: speedup by set correct caching
  .github/workflows/docs.yml
Due: none

test: use exact ubuntu version for integration
  .github/workflows/integration.yml
Due: none

test: use ubuntu 22.04 for integration
  .github/workflows/integration.yml
Due: none

test: fix ubuntu version used
  .github/workflows/integration.yml
Due: none

test: use correct version of ubuntu for another steps of integration
  .github/workflows/docs.yml
  .github/workflows/integration.yml
Due: none

test: fix running tests from jb
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json

docs: update contributing for pnpm
  CONTRIBUTING.md
Due: none

fix: inline scope-cache
  src/debug/index.ts
  src/debug/scope-cache.ts
Due: prettier --write

Inline scope-cache into index.ts to fix patronum/debug imports in ESM #243
  src/debug/index.ts
  src/debug/scope-cache.ts
Due: prettier --write

fix: update ubuntu in release workflow
  .github/workflows/publish.yml
Due: none

Update ubuntu version in release workflow #244
  .github/workflows/publish.yml
Due: none

fix: debug domain effect tracing
  src/debug/debug.test.ts
  src/debug/index.ts
Due: prettier --write

fix: debug domain add effect log
  src/debug/debug.test.ts
  src/debug/index.ts
Due: prettier --write

Fix effects tracking via `debug(domain)` (#246)
  src/debug/debug.test.ts
  src/debug/index.ts
Due: prettier --write

Update README.md
  README.md
Due: none

Fixed typo, made debug docs more clear
  src/debug/readme.md
Due: none

Deploying to gh-pages from @ effector/patronum@60f0b9e7282822e88ee452019187ce35ce6cd418 🚀
  404.html
  assets/js/67c026b6.bb0d35b1.js
  assets/js/67c026b6.c186990b.js
  assets/js/runtime~main.361f7aa0.js
  assets/js/runtime~main.dd016e5b.js
  docs/installation/index.html
  docs/migration-guide/index.html
  index.html
  methods/and/index.html
  methods/combine-events/index.html
  methods/condition/index.html
  methods/debounce/index.html
  methods/debug/index.html
  methods/delay/index.html
  methods/either/index.html
  methods/empty/index.html
  methods/equals/index.html
  methods/every/index.html
  methods/format/index.html
  methods/in-flight/index.html
  methods/index.html
  methods/interval/index.html
  methods/not/index.html
  methods/or/index.html
  methods/pending/index.html
  methods/reset/index.html
  methods/reshape/index.html
  methods/snapshot/index.html
  methods/some/index.html
  methods/split-map/index.html
  methods/spread/index.html
  methods/status/index.html
  methods/throttle/index.html
  methods/time/index.html
  search/index.html
Due: prettier --write

ci: add size-compare
  .github/workflows/size-compare.yml
Due: none

ci(size-compare): main is the correct branch
  .github/workflows/size-compare.yml
Due: none

ci(size-compare): nested dirs too
  .github/workflows/size-compare.yml
Due: none

Add test cases for bug
  src/debounce/debounce.fork.test.ts
  src/throttle/throttle.fork.test.ts
Due: prettier --write

ci(size-compare): fix node version
  .github/workflows/size-compare.yml
Due: none

ci(size-compare): update to v1.1
  .github/workflows/size-compare.yml
Due: none

ci(size-compare): use pull request target event
  .github/workflows/size-compare.yml
Due: none

feat: add cut operator
  README.md
  src/cut/cut.fork.test.ts
  src/cut/cut.test.ts
  src/cut/index.ts
  src/cut/readme.md
Due: prettier --write

Fix infinite loop with object form of either
  src/either/either.fork.test.ts
  src/either/index.ts
Due: prettier --write

Make test for object for more explicit
  src/either/either.fork.test.ts
Due: prettier --write

Fix infinite loop with object form of `either` (#254)
  src/either/either.fork.test.ts
  src/either/index.ts
Due: prettier --write

Update readme.md
  src/debounce/readme.md
Due: none

Deploying to gh-pages from @ effector/patronum@18b5fcc6b429f2ca08bbf923d1f0c5c66af81672 🚀
  404.html
  assets/js/deda2cf3.66612e12.js
  assets/js/deda2cf3.7cf3a9b3.js
  assets/js/runtime~main.34374fed.js
  assets/js/runtime~main.361f7aa0.js
  docs/installation/index.html
  docs/migration-guide/index.html
  index.html
  methods/and/index.html
  methods/combine-events/index.html
  methods/condition/index.html
  methods/debounce/index.html
  methods/debug/index.html
  methods/delay/index.html
  methods/either/index.html
  methods/empty/index.html
  methods/equals/index.html
  methods/every/index.html
  methods/format/index.html
  methods/in-flight/index.html
  methods/index.html
  methods/interval/index.html
  methods/not/index.html
  methods/or/index.html
  methods/pending/index.html
  methods/reset/index.html
  methods/reshape/index.html
  methods/snapshot/index.html
  methods/some/index.html
  methods/split-map/index.html
  methods/spread/index.html
  methods/status/index.html
  methods/throttle/index.html
  methods/time/index.html
  search/index.html
Due: prettier --write

feat: extend type for combineEvents to pass array of units as reset
  src/combine-events/combine-events.test.ts
  src/combine-events/index.ts
  src/combine-events/readme.md
Due: prettier --write

feat: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write --parser json: any of: {*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}
