Repository effector/patronum: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": ["prettier --write"],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json"
  ]
}

Unrelated change - better name for internal effect, so it is easier to see in the logs
  src/debounce/index.ts
Due: prettier --write

Better name for throttle timer too
  src/debounce/index.ts
  src/throttle/index.ts
Due: prettier --write

use guard as peer dep requries
  src/debounce/index.ts
Due: prettier --write

Fix debounce timeout trigger (#293)
  src/debounce/debounce.fork.test.ts
  src/debounce/index.ts
  src/throttle/index.ts
Due: prettier --write

feat(reshape): add support of event source
  pnpm-lock.yaml
  src/reshape/index.ts
  src/reshape/reshape.fork.test.ts
  src/reshape/reshape.test.ts
Due: prettier --write

fix: replace "in" with "hasOwnProperty" in reshape's for in
  src/reshape/index.ts
  src/reshape/reshape.test.ts
Due: prettier --write

fix: replace "in" with "hasOwnProperty" in reshape's for in (#296)
  src/reshape/index.ts
  src/reshape/reshape.test.ts
Due: prettier --write

feat(once): add support for reset argument
  src/babel-plugin-factories.json
  src/once/index.ts
  src/once/once.fork.test.ts
  src/once/once.test.ts
  src/once/readme.md
  test-typings/once.ts
Due: prettier --write, prettier --write --parser json

feat(delay): Allow passing array of targets to delay (#288)
  src/delay/delay.test.ts
  src/delay/index.ts
  src/delay/readme.md
  test-typings/delay.ts
Due: prettier --write

Deploying to gh-pages from @ effector/patronum@0478526b73d49e700549f135a93fa18a51e3c749 🚀
  404.html
  assets/js/ad512b16.58eaad2b.js
  assets/js/ad512b16.823efa27.js
  assets/js/runtime~main.094ce3a5.js
  assets/js/runtime~main.eefef302.js
  docs/installation/index.html
  docs/migration-guide/index.html
  index.html
  methods/and/index.html
  methods/combine-events/index.html
  methods/condition/index.html
  methods/debounce/index.html
  methods/debug/index.html
  methods/delay/index.html
  methods/either/index.html
  methods/empty/index.html
  methods/equals/index.html
  methods/every/index.html
  methods/format/index.html
  methods/in-flight/index.html
  methods/index.html
  methods/interval/index.html
  methods/not/index.html
  methods/once/index.html
  methods/or/index.html
  methods/pending/index.html
  methods/reset/index.html
  methods/reshape/index.html
  methods/snapshot/index.html
  methods/some/index.html
  methods/split-map/index.html
  methods/spread/index.html
  methods/status/index.html
  methods/throttle/index.html
  methods/time/index.html
  search/index.html
Due: prettier --write

feat(once): add support for reset argument (#299)
  src/babel-plugin-factories.json
  src/once/index.ts
  src/once/once.fork.test.ts
  src/once/once.test.ts
  src/once/readme.md
  test-typings/once.ts
Due: prettier --write, prettier --write --parser json

Deploying to gh-pages from @ effector/patronum@547117f0b0d024ae95107600da677d92b692c98e 🚀
  404.html
  assets/js/8d76850e.3dcbbfa9.js
  assets/js/8d76850e.ac0fc698.js
  assets/js/935f2afb.bcb89381.js
  assets/js/935f2afb.f4c95c42.js
  assets/js/runtime~main.094ce3a5.js
  assets/js/runtime~main.c0401702.js
  docs/installation/index.html
  docs/migration-guide/index.html
  index.html
  methods/and/index.html
  methods/combine-events/index.html
  methods/condition/index.html
  methods/debounce/index.html
  methods/debug/index.html
  methods/delay/index.html
  methods/either/index.html
  methods/empty/index.html
  methods/equals/index.html
  methods/every/index.html
  methods/format/index.html
  methods/in-flight/index.html
  methods/index.html
  methods/interval/index.html
  methods/not/index.html
  methods/once/index.html
  methods/or/index.html
  methods/pending/index.html
  methods/reset/index.html
  methods/reshape/index.html
  methods/snapshot/index.html
  methods/some/index.html
  methods/split-map/index.html
  methods/spread/index.html
  methods/status/index.html
  methods/throttle/index.html
  methods/time/index.html
  search/index.html
Due: prettier --write

Use effector 23 release candidate
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json

Remove forward calls
  src/debug/debug.test.ts
  src/in-flight/in-flight.fork.test.ts
  src/pending/pending.fork.test.ts
  src/spread/index.ts
  src/spread/spread.test.ts
  src/time/index.ts
Due: prettier --write

Remove guard usage
  src/combine-events/index.ts
  src/condition/index.ts
  src/condition/readme.md
  src/debounce/index.ts
  src/interval/index.ts
  src/interval/interval.fork.test.ts
  src/spread/index.ts
  src/spread/readme.md
  src/throttle/index.ts
Due: prettier --write

greedy: true -> batch: false
  src/combine-events/index.ts
  src/spread/index.ts
Due: prettier --write

remove fork(domain) usage
  src/combine-events/combine-events.fork.test.ts
  src/condition/condition.fork.test.ts
  src/debounce/debounce.fork.test.ts
  src/debug/debug.fork.test.ts
  src/delay/delay.fork.test.ts
  src/every/every.fork.test.ts
  src/format/format.fork.test.ts
  src/in-flight/in-flight.fork.test.ts
  src/pending/pending.fork.test.ts
  src/reshape/reshape.fork.test.ts
  src/snapshot/snapshot.fork.test.ts
  src/some/some.fork.test.ts
  src/split-map/split-map.fork.test.ts
  src/spread/spread.fork.test.ts
  src/status/status.fork.test.ts
  src/throttle/throttle.fork.test.ts
Due: prettier --write

Remove onlyChanges usage
  src/combine-events/combine-events.fork.test.ts
Due: prettier --write

Use skipVoid: false
  src/debounce/index.ts
  src/throttle/index.ts
Due: prettier --write

use the same TS version, which is used for effector
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write --parser json

Comply with TS deprecations and cut unrelevant lib check
  test-typings/tsconfig.json
Due: prettier --write --parser json

Make empty operator work with full-void stores
  src/empty/empty.fork.test.ts
  src/empty/index.ts
Due: prettier --write

Use UnitTargetable
  src/combine-events/index.ts
  src/condition/index.ts
  src/debounce/index.ts
  src/delay/index.ts
  src/once/index.ts
  src/reset/index.ts
  src/spread/index.ts
  src/throttle/index.ts
Due: prettier --write

Add skipVoid
  src/and/index.ts
  src/combine-events/index.ts
  src/condition/index.ts
  src/either/index.ts
  src/empty/index.ts
  src/equals/index.ts
  src/every/index.ts
  src/format/index.ts
  src/in-flight/index.ts
  src/interval/index.ts
  src/not/index.ts
  src/or/index.ts
  src/pending/index.ts
  src/reshape/index.ts
  src/some/index.ts
Due: prettier --write

Use skipVoid false
  src/and/index.ts
  src/combine-events/index.ts
  src/condition/index.ts
  src/either/index.ts
  src/empty/index.ts
  src/equals/index.ts
  src/every/index.ts
  src/format/index.ts
  src/in-flight/index.ts
  src/interval/index.ts
  src/not/index.ts
  src/or/index.ts
  src/pending/index.ts
  src/reshape/index.ts
  src/some/index.ts
Due: prettier --write

Add skipVoid to maps and combines (#302)
  src/and/index.ts
  src/combine-events/index.ts
  src/condition/index.ts
  src/either/index.ts
  src/empty/index.ts
  src/equals/index.ts
  src/every/index.ts
  src/format/index.ts
  src/in-flight/index.ts
  src/interval/index.ts
  src/not/index.ts
  src/or/index.ts
  src/pending/index.ts
  src/reshape/index.ts
  src/some/index.ts
Due: prettier --write

Use latest rc
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json

Update tests to reflect fixed bug
  src/either/either.fork.test.ts
Due: prettier --write

Remove test for derived event call - it is not supported anymore
  src/once/once.test.ts
Due: prettier --write

Update `and` tests
  src/and/and.fork.test.ts
Due: prettier --write

Update `or` tests
  src/or/or.fork.test.ts
Due: prettier --write

Remove controversial type tests
  test-typings/combine-events.ts
Due: prettier --write

Remove type tests for domain or scope in source
  test-typings/debounce.ts
  test-typings/once.ts
  test-typings/time.ts
Due: prettier --write

Update combine-events type tests
  test-typings/combine-events.ts
Due: prettier --write

Fix build
  src/combine-events/index.ts
  src/condition/index.ts
  src/debug/index.ts
  tsconfig.json
Due: prettier --write, prettier --write --parser json

Test types against dist
  package.json
  test-typings/and.ts
  test-typings/combine-events.ts
  test-typings/condition.ts
  test-typings/debounce.ts
  test-typings/debug.ts
  test-typings/delay.ts
  test-typings/either.ts
  test-typings/equals.ts
  test-typings/every.ts
  test-typings/format.ts
  test-typings/in-flight.ts
  test-typings/interval.ts
  test-typings/not.ts
  test-typings/once.ts
  test-typings/or.ts
  test-typings/pending.ts
  test-typings/reset.ts
  test-typings/reshape.ts
  test-typings/snapshot.ts
  test-typings/some.ts
  test-typings/split-map.ts
  test-typings/spread.ts
  test-typings/status.ts
  test-typings/throttle.ts
  test-typings/time.ts
  test-typings/tsconfig.json
Due: prettier --write, prettier --write --parser json

Fix condition types
  src/condition/index.ts
Due: prettier --write

Fix `{}` in `every` and `some` tests
  test-typings/every.ts
  test-typings/some.ts
Due: prettier --write

Fix `name` support in debounce
  src/debounce/index.ts
Due: prettier --write

Fix `spread` types
  src/spread/index.ts
Due: prettier --write
