Repository effector/patronum: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": ["prettier --write"],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json"
  ]
}

Fix double debounce trigger
  src/debounce/index.ts
Due: prettier --write

Fix double debounce trigger (#303)
  src/debounce/index.ts
Due: prettier --write

Skip failing cases
  test-typings/every.ts
  test-typings/some.ts
Due: prettier --write

Update effector version
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json

Set range of supported effector versions
  scripts/source.package.js
Due: prettier --write

Ensure that `and` and `or` will updated with scope
  src/and/and.fork.test.ts
  src/or/or.fork.test.ts
Due: prettier --write

Add effector 23 support (#304)
  package.json
  pnpm-lock.yaml
  scripts/source.package.js
  src/and/and.fork.test.ts
  src/or/or.fork.test.ts
Due: prettier --write, prettier --write --parser json

Set effector version strictly to 23
  scripts/source.package.js
Due: prettier --write

Set effector version strictly to 23 (#305)
  scripts/source.package.js
Due: prettier --write

fix(once): remove redundant sample as of effector v23
  src/once/index.ts
  test-typings/once.ts
Due: prettier --write

fix(once): remove redundant sample as of effector v23 (#306)
  src/once/index.ts
  test-typings/once.ts
Due: prettier --write

Update cra integration
  integration/cra/package.json
  integration/cra/pnpm-lock.yaml
  integration/cra/src/App.js
Due: prettier --write, prettier --write --parser json

Fix lockfile for node 16/18 ci
  pnpm-lock.yaml
Due: none

Use non-strict peer deps in cra integration
  integration/cra/.npmrc
Due: none

Update pnpm
  package.json
Due: prettier --write --parser json

Update lockfile
  pnpm-lock.yaml
Due: none

Update cra lockfile
  integration/cra/pnpm-lock.yaml
Due: none

Update custom integration
  integration/custom/.npmrc
  integration/custom/package.json
  integration/custom/pnpm-lock.yaml
Due: prettier --write --parser json

Reorder imports
  integration/cra/src/App.js
Due: prettier --write

Fix ci issues (#307)
  integration/cra/.npmrc
  integration/cra/package.json
  integration/cra/pnpm-lock.yaml
  integration/cra/src/App.js
  integration/custom/.npmrc
  integration/custom/package.json
  integration/custom/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --write --parser json

fix(snapshot): make return value as StoreWritable
  src/snapshot/index.ts
Due: prettier --write

feat: store with time functions implementation
  src/debounce/index.ts
  src/delay/index.ts
  src/interval/index.ts
  src/throttle/index.ts
  src/timers/index.ts
  src/timers/timers.test.ts
Due: prettier --write

fix: add stop await for interval test
  src/interval/index.ts
  src/timers/timers.test.ts
Due: prettier --write

add readme
  src/timers/index.ts
  src/timers/readme.md
Due: prettier --write

Update homepage in package.json and npm website
  scripts/source.package.js
Due: prettier --write

Add `debounce(source, timeout)` shorthand
  src/debounce/debounce.test.ts
  src/debounce/index.ts
  src/debounce/readme.md
  test-typings/debounce.ts
Due: prettier --write

Add `previousValue` to documentation root
  src/index.md
Due: none

Add type tests
  test-typings/previous-value.ts
Due: prettier --write

Add support for undefined
  src/previous-value/index.ts
  src/previous-value/previous-value.fork.test.ts
  src/previous-value/previous-value.test.ts
Due: prettier --write

Add store validation
  src/previous-value/index.ts
  src/previous-value/previous-value.test.ts
Due: prettier --write

Add previousValue method
  src/babel-plugin-factories.json
  src/previous-value/index.ts
  src/previous-value/previous-value.fork.test.ts
  src/previous-value/previous-value.test.ts
  src/previous-value/readme.md
Due: prettier --write, prettier --write --parser json

Add `delay(source, timeout)`
  src/delay/delay.test.ts
  src/delay/index.ts
  src/delay/readme.md
  test-typings/delay.ts
Due: prettier --write

Add `throttle(source, timeout)` shorthand
  src/throttle/index.ts
  src/throttle/readme.md
  src/throttle/throttle.test.ts
  test-typings/throttle.ts
Due: prettier --write

add `status(fx)` shorthand
  src/status/index.ts
  src/status/readme.md
  src/status/status.test.ts
  test-typings/status.ts
Due: prettier --write

Add `pending(effects)` shorthand
  src/pending/index.ts
  src/pending/pending.test.ts
  src/pending/readme.md
  test-typings/pending.ts
Due: prettier --write

Add `inFlight(effects)` shorthand
  src/in-flight/in-flight.test.ts
  src/in-flight/index.ts
  src/in-flight/readme.md
  test-typings/in-flight.ts
Due: prettier --write

Add `combineEvents(events)` shorthand
  src/combine-events/combine-events.test.ts
  src/combine-events/index.ts
  src/combine-events/readme.md
  test-typings/combine-events.ts
Due: prettier --write

Add `spread(targets)` shorthand
  src/spread/index.ts
  src/spread/readme.md
  src/spread/spread.test.ts
  test-typings/spread.ts
Due: prettier --write

Add `time(clock)` shorthand
  src/time/index.ts
  src/time/readme.md
  src/time/time.fork.test.ts
  src/time/time.test.ts
  test-typings/time.ts
Due: prettier --write
