Repository effector/patronum: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": ["prettier --write"],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json"
  ]
}

Update sids in snapshots
  integration/cra/src/demo.test.ts
  integration/custom/test/integration.spec.ts
Due: prettier --write

Rename `previousValue` to `previous`
  src/babel-plugin-factories.json
  src/index.md
  src/previous/index.ts
  src/previous/previous.fork.test.ts
  src/previous/previous.test.ts
  src/previous/readme.md
  test-typings/previous.ts
Due: prettier --write, prettier --write --parser json

Add previous method (#313)
  src/babel-plugin-factories.json
  src/index.md
  src/previous/index.ts
  src/previous/previous.fork.test.ts
  src/previous/previous.test.ts
  src/previous/readme.md
  test-typings/previous.ts
Due: prettier --write, prettier --write --parser json

Add shorthands for common methods (#315)
  integration/cra/src/demo.test.ts
  integration/custom/test/integration.spec.ts
  src/combine-events/combine-events.test.ts
  src/combine-events/index.ts
  src/combine-events/readme.md
  src/debounce/debounce.test.ts
  src/debounce/index.ts
  src/debounce/readme.md
  src/delay/delay.test.ts
  src/delay/index.ts
  src/delay/readme.md
  src/in-flight/in-flight.test.ts
  src/in-flight/index.ts
  src/in-flight/readme.md
  src/pending/index.ts
  src/pending/pending.test.ts
  src/pending/readme.md
  src/spread/index.ts
  src/spread/readme.md
  src/spread/spread.test.ts
  src/status/index.ts
  src/status/readme.md
  src/status/status.test.ts
  src/throttle/index.ts
  src/throttle/readme.md
  src/throttle/throttle.test.ts
  src/time/index.ts
  src/time/readme.md
  src/time/time.fork.test.ts
  src/time/time.test.ts
  test-typings/combine-events.ts
  test-typings/debounce.ts
  test-typings/delay.ts
  test-typings/in-flight.ts
  test-typings/pending.ts
  test-typings/spread.ts
  test-typings/status.ts
  test-typings/throttle.ts
  test-typings/time.ts
Due: prettier --write

Fix lockfile
  pnpm-lock.yaml
Due: none

fix: migrate to workspace
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/pnpm-lock.yaml
Due: prettier --write --parser json

ci: update setup-node action
  .github/workflows/publish.yml
Due: none

feat: upgrade pnpm version
  package.json
Due: prettier --write --parser json

ci: set correct paths for pnpm actions
  .github/workflows/docs.yml
Due: none

Fix `status` type
  src/status/index.ts
Due: prettier --write

fix(snapshot): make return value as StoreWritable (#308)
  src/snapshot/index.ts
Due: prettier --write

Fix `status` type (#316)
  src/status/index.ts
Due: prettier --write

Patronum v2.1.1 (#317)
  src/snapshot/index.ts
  src/status/index.ts
Due: prettier --write

Fix import path in `previous` docs
  src/previous/readme.md
Due: none

Deploying to gh-pages from @ effector/patronum@01182926665cd2f3cde626bc31ecf959f3322ab1 🚀
  404.html
  assets/js/7921cf10.65486520.js
  assets/js/7921cf10.f96dc439.js
  assets/js/runtime~main.c83f3d46.js
  assets/js/runtime~main.e9529fc6.js
  docs/installation/index.html
  docs/migration-guide/index.html
  index.html
  methods/and/index.html
  methods/combine-events/index.html
  methods/condition/index.html
  methods/debounce/index.html
  methods/debug/index.html
  methods/delay/index.html
  methods/either/index.html
  methods/empty/index.html
  methods/equals/index.html
  methods/every/index.html
  methods/format/index.html
  methods/in-flight/index.html
  methods/index.html
  methods/interval/index.html
  methods/not/index.html
  methods/once/index.html
  methods/or/index.html
  methods/pending/index.html
  methods/previous/index.html
  methods/reset/index.html
  methods/reshape/index.html
  methods/snapshot/index.html
  methods/some/index.html
  methods/split-map/index.html
  methods/spread/index.html
  methods/status/index.html
  methods/throttle/index.html
  methods/time/index.html
  search/index.html
Due: prettier --write

fix build & add 'now' method
  rollup.config.js
  scripts/build.js
  scripts/libraries.js
  src/babel-plugin-factories.json
  src/index.md
  src/now/index.ts
  src/now/readme.md
  src/testing-library/index.ts
  src/testing-library/readme.md
  src/timers/index.ts
  src/timers/timers.test.ts
Due: prettier --write, prettier --write --parser json

feat: add typings tests
  test-typings/now.ts
  test-typings/testing-library.ts
Due: prettier --write

feat(readonly): implement readonly operator
  src/index.md
  src/readonly/index.ts
  src/readonly/readme.md
  src/readonly/readonly.test.ts
  test-typings/readonly.ts
Due: prettier --write

feat(readonly): implement readonly operator
  src/readonly/index.ts
Due: prettier --write

feat(readonly): implement readonly operator
  src/readonly/index.ts
  src/readonly/readme.md
  src/readonly/readonly.test.ts
Due: prettier --write

Fix incorrect types of @@trigger in interval
  src/interval/index.ts
Due: prettier --write

Fix incorrect logic
  src/interval/index.ts
Due: prettier --write

Deploying to gh-pages from @ effector/patronum@d28b8027bb120bda83b7a93c7fdd2e0f582e094c 🚀
  404.html
  assets/js/main.849a2d8c.js
  assets/js/main.be8214f6.js
  assets/js/main.be8214f6.js.LICENSE.txt
  docs/installation/index.html
  docs/migration-guide/index.html
  index.html
  methods/and/index.html
  methods/combine-events/index.html
  methods/condition/index.html
  methods/debounce/index.html
  methods/debug/index.html
  methods/delay/index.html
  methods/either/index.html
  methods/empty/index.html
  methods/equals/index.html
  methods/every/index.html
  methods/format/index.html
  methods/in-flight/index.html
  methods/index.html
  methods/interval/index.html
  methods/not/index.html
  methods/once/index.html
  methods/or/index.html
  methods/pending/index.html
  methods/previous/index.html
  methods/reset/index.html
  methods/reshape/index.html
  methods/snapshot/index.html
  methods/some/index.html
  methods/split-map/index.html
  methods/spread/index.html
  methods/status/index.html
  methods/throttle/index.html
  methods/time/index.html
  search/index.html
Due: prettier --write

feat(condition): simplify types
  src/condition/index.ts
  test-typings/condition.ts
Due: prettier --write

fix spread example
  src/spread/readme.md
Due: none

fix spread example (#323)
  src/spread/readme.md
Due: none

Deploying to gh-pages from @ effector/patronum@d2d7ee75fbafb7939900c08e504fe426700f965c 🚀
  404.html
  assets/js/1178bc06.04a79afb.js
  assets/js/1178bc06.b61c1d3d.js
  assets/js/runtime~main.c7375206.js
  assets/js/runtime~main.cc8a4be3.js
  docs/installation/index.html
  docs/migration-guide/index.html
  index.html
  methods/and/index.html
  methods/combine-events/index.html
  methods/condition/index.html
  methods/debounce/index.html
  methods/debug/index.html
  methods/delay/index.html
  methods/either/index.html
  methods/empty/index.html
  methods/equals/index.html
  methods/every/index.html
  methods/format/index.html
  methods/in-flight/index.html
  methods/index.html
  methods/interval/index.html
  methods/not/index.html
  methods/once/index.html
  methods/or/index.html
  methods/pending/index.html
  methods/previous/index.html
  methods/readonly/index.html
  methods/reset/index.html
  methods/reshape/index.html
  methods/snapshot/index.html
  methods/some/index.html
  methods/split-map/index.html
  methods/spread/index.html
  methods/status/index.html
  methods/throttle/index.html
  methods/time/index.html
  search/index.html
Due: prettier --write

feat(condition): simplify types (#321)
  src/condition/index.ts
  test-typings/condition.ts
Due: prettier --write

upd: fix orthographic mistakes
  src/pending/readme.md
Due: none

upd: fix orthographic mistakes (#324)
  src/pending/readme.md
Due: none

Deploying to gh-pages from @ effector/patronum@7e8511699afab6ea810327fcdd389121eb21cb52 🚀
  404.html
  assets/js/84071e39.1814bf01.js
  assets/js/84071e39.321abdbd.js
  assets/js/runtime~main.c7375206.js
  assets/js/runtime~main.cd95715c.js
  docs/installation/index.html
  docs/migration-guide/index.html
  index.html
  methods/and/index.html
  methods/combine-events/index.html
  methods/condition/index.html
  methods/debounce/index.html
  methods/debug/index.html
  methods/delay/index.html
  methods/either/index.html
  methods/empty/index.html
  methods/equals/index.html
  methods/every/index.html
  methods/format/index.html
  methods/in-flight/index.html
  methods/index.html
  methods/interval/index.html
  methods/not/index.html
  methods/once/index.html
  methods/or/index.html
  methods/pending/index.html
  methods/previous/index.html
  methods/readonly/index.html
  methods/reset/index.html
  methods/reshape/index.html
  methods/snapshot/index.html
  methods/some/index.html
  methods/split-map/index.html
  methods/spread/index.html
  methods/status/index.html
  methods/throttle/index.html
  methods/time/index.html
  search/index.html
Due: prettier --write

upd: fix orthographic mistakes
  src/debounce/readme.md
  src/in-flight/readme.md
  src/some/readme.md
  src/spread/readme.md
  src/throttle/readme.md
  src/time/readme.md
Due: none

upd: fix orthographic mistakes (#325)
  src/debounce/readme.md
  src/in-flight/readme.md
  src/some/readme.md
  src/spread/readme.md
  src/throttle/readme.md
  src/time/readme.md
Due: none

upd: fix spelling mistakes
  src/combine-events/readme.md
  src/debug/readme.md
  src/delay/readme.md
  src/in-flight/readme.md
  src/pending/readme.md
  src/spread/readme.md
  src/time/readme.md
Due: none

Fix spelling mistakes (#326)
  src/combine-events/readme.md
  src/debug/readme.md
  src/delay/readme.md
  src/in-flight/readme.md
  src/pending/readme.md
  src/spread/readme.md
  src/time/readme.md
Due: none
