Repository effector/patronum: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": ["prettier --write"],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json"
  ]
}

chore: upgrade deprecated rollup-plugin-terser
  package.json
  pnpm-lock.yaml
  rollup.config.js
Due: prettier --write, prettier --write --parser json

test: fix snapshots after upgraded plugin
  src/__snapshots__/macro.test.ts.snap
Due: none

test(remap): add test for all features
  src/remap/remap.fork.test.ts
Due: prettier --write

feat(remap): introduce new method with just string key impl
  src/remap/index.ts
Due: prettier --write

feat(remap): allow to pass list of mappers
  src/remap/index.ts
  src/remap/remap.fork.test.ts
Due: prettier --write

test(remap): fix tests for the object mappers
  src/remap/remap.fork.test.ts
Due: prettier --write

feat(remap): complete implementation for object mappers
  src/remap/index.ts
Due: prettier --write

fix(remap): build without correct types
  src/babel-plugin-factories.json
  src/remap/index.ts
Due: prettier --write, prettier --write --parser json

Use match object instead of snapshot
  src/debounce/debounce.fork.test.ts
Due: prettier --write

Add test for the bug
  src/debounce/debounce.fork.test.ts
Due: prettier --write

Refactor - use sample instead of forward
  src/debounce/debounce.fork.test.ts
  src/debounce/index.ts
Due: prettier --write

Force sync batching
  src/debounce/debounce.fork.test.ts
  src/debounce/index.ts
Due: prettier --write

Update test
  src/debounce/debounce.fork.test.ts
Due: prettier --write

Fix debounce impementation
  src/debounce/index.ts
Due: prettier --write

Remove snapshots in throttle tests
  src/throttle/throttle.fork.test.ts
Due: prettier --write

Add edge-case test
  src/throttle/throttle.fork.test.ts
Due: prettier --write

Fix throttle
  src/throttle/index.ts
Due: prettier --write

Fix TS issue
  src/debounce/index.ts
  src/throttle/index.ts
Due: prettier --write

Fix type issues
  src/debounce/index.ts
  src/throttle/index.ts
Due: prettier --write

Fix debounce and throttle double-trigger edge-case (#262)
  src/debounce/debounce.fork.test.ts
  src/debounce/index.ts
  src/throttle/index.ts
  src/throttle/throttle.fork.test.ts
Due: prettier --write

Run each node ci only once
  .github/workflows/nodejs.yml
Due: none

Remove open handles detection
  .github/workflows/nodejs.yml
Due: none

Enable mock autoclear
  jest.config.js
Due: prettier --write

Fix max workers number by 1
  jest.config.js
Due: prettier --write

Fix CI hangs (#263)
  .github/workflows/nodejs.yml
  jest.config.js
Due: prettier --write

Deploying to gh-pages from @ effector/patronum@03c9d9350c14af1d0fa8426ec8a7a01823fc77a7 🚀
  404.html
  assets/js/main.9aeb811d.js
  assets/js/main.9aeb811d.js.LICENSE.txt
  assets/js/main.a12d89e7.js
  docs/installation/index.html
  docs/migration-guide/index.html
  index.html
  methods/and/index.html
  methods/combine-events/index.html
  methods/condition/index.html
  methods/debounce/index.html
  methods/debug/index.html
  methods/delay/index.html
  methods/either/index.html
  methods/empty/index.html
  methods/equals/index.html
  methods/every/index.html
  methods/format/index.html
  methods/in-flight/index.html
  methods/index.html
  methods/interval/index.html
  methods/not/index.html
  methods/or/index.html
  methods/pending/index.html
  methods/reset/index.html
  methods/reshape/index.html
  methods/snapshot/index.html
  methods/some/index.html
  methods/split-map/index.html
  methods/spread/index.html
  methods/status/index.html
  methods/throttle/index.html
  methods/time/index.html
  search/index.html
Due: prettier --write

Fix flaps
  src/debounce/debounce.fork.test.ts
  src/debounce/debounce.test.ts
Due: prettier --write

Add ci fallback for hanging tests
  .github/workflows/nodejs.yml
  package.json
  pnpm-lock.yaml
  scripts/tests_ci.mjs
Due: prettier --write, prettier --write --parser json

Add ci fallback for hanging tests (#264)
  .github/workflows/nodejs.yml
  package.json
  pnpm-lock.yaml
  scripts/tests_ci.mjs
Due: prettier --write, prettier --write --parser json

Remove log type separation
  src/debug/index.ts
  src/debug/readme.md
  test-typings/debug.ts
Due: prettier --write

Fix the docs
  src/debug/readme.md
Due: none

Update missing types
  src/debug/index.ts
  test-typings/debug.ts
Due: prettier --write

Run prettier
  src/debug/index.ts
Due: prettier --write

Add typings
  src/debug/index.ts
  test-typings/debug.ts
Due: prettier --write

Refactor api type
  src/debug/index.ts
  src/debug/readme.md
  test-typings/debug.ts
Due: prettier --write

Add node kind to log context
  src/debug/index.ts
  src/debug/readme.md
  test-typings/debug.ts
Due: prettier --write

Add docs for custom debug handler
  src/debug/readme.md
Due: none

Reorder implementation code
  src/debug/index.ts
Due: prettier --write

Refactor debug structure
  src/debug/index.ts
Due: prettier --write

Refactor internal structure
  src/debug/index.ts
Due: prettier --write
