Repository effector/patronum: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json

feat: expose timers api
  src/debounce/debounce.fork.test.ts
  src/debounce/index.ts
  src/debounce/readme.md
  src/delay/delay.fork.test.ts
  src/delay/index.ts
  src/delay/readme.md
  src/interval/index.ts
  src/interval/interval.fork.test.ts
  src/interval/readme.md
  src/throttle/index.ts
  src/throttle/readme.md
  src/throttle/throttle.fork.test.ts
  src/time/index.ts
  src/time/readme.md
  src/time/time.fork.test.ts
  src/time/time.test.ts
Due: prettier --write

fix: add scopeBind for events
  src/debounce/debounce.fork.test.ts
  src/debounce/index.ts
  src/debounce/readme.md
  src/interval/index.ts
  src/interval/interval.fork.test.ts
  src/interval/readme.md
Due: prettier --write

fix: interval & debounce & time
  src/debounce/debounce.fork.test.ts
  src/debounce/index.ts
  src/debounce/readme.md
  src/interval/index.ts
  src/interval/interval.fork.test.ts
  src/interval/readme.md
  src/time/time.fork.test.ts
Due: prettier --write

fix: remove spread
  src/debounce/index.ts
Due: prettier --write

docs: update for debounce & interval & time
  src/debounce/readme.md
  src/interval/readme.md
  src/time/readme.md
Due: none

fix: open handler in interval test
  src/interval/interval.fork.test.ts
Due: prettier --write

feat: add patronum defer
  src/defer/index.ts
Due: prettier --write

feat: spread - support array of units in target fields
  src/spread/index.ts
  src/spread/readme.md
  src/spread/spread.test.ts
Due: prettier --write

test(spread): added fork and type tests
  src/spread/spread.fork.test.ts
  test-typings/spread.ts
Due: prettier --write

docs: fix typo
  src/combine-events/readme.md
Due: none

spread: removed unnecessary sample
  src/spread/index.ts
Due: prettier --write

Deploying to gh-pages from @ effector/patronum@75ad9600ace84e61bba3428de75ac6695210b801 🚀
  404.html
  assets/js/e9221267.4db96f39.js
  assets/js/e9221267.e34d1bde.js
  assets/js/runtime~main.21f7fdde.js
  assets/js/runtime~main.d732bbf4.js
  docs/installation/index.html
  docs/migration-guide/index.html
  index.html
  methods/and/index.html
  methods/combine-events/index.html
  methods/condition/index.html
  methods/debounce/index.html
  methods/debug/index.html
  methods/delay/index.html
  methods/either/index.html
  methods/empty/index.html
  methods/equals/index.html
  methods/every/index.html
  methods/format/index.html
  methods/in-flight/index.html
  methods/index.html
  methods/interval/index.html
  methods/not/index.html
  methods/once/index.html
  methods/or/index.html
  methods/pending/index.html
  methods/previous/index.html
  methods/readonly/index.html
  methods/reset/index.html
  methods/reshape/index.html
  methods/snapshot/index.html
  methods/some/index.html
  methods/split-map/index.html
  methods/spread/index.html
  methods/status/index.html
  methods/throttle/index.html
  methods/time/index.html
  search/index.html
Due: prettier --write

fix(reset): Event type
  src/reset/index.ts
Due: prettier --write

feat(splitMap): added targets field
  src/split-map/index.ts
  src/split-map/readme.md
  src/split-map/split-map.fork.test.ts
  src/split-map/split-map.test.ts
  test-typings/split-map.ts
Due: prettier --write

fix(spread): payload type should extend target type
  src/spread/index.ts
  src/spread/spread.test.ts
  test-typings/spread.ts
Due: prettier --write

feat(splitMap): updated read.me
  src/split-map/readme.md
Due: none

docs: remove dead openbase
  README.md
Due: none

ci: update minimum version of nodejs to 18.x
  .github/workflows/nodejs.yml
  .github/workflows/publish.yml
  .github/workflows/size-compare.yml
Due: none

feat: add redirect from /docs/[operator] to /operators/[operator]
  CONTRIBUTING.md
  documentation/src/pages/docs/[operator].astro
Due: none

Deploying to gh-pages from @ effector/patronum@9fe123121f818c7fc21d72e7e3b2b6022b25b110 🚀
  docs/and/index.html
  docs/combine-events/index.html
  docs/condition/index.html
  docs/debounce/index.html
  docs/debug/index.html
  docs/delay/index.html
  docs/either/index.html
  docs/empty/index.html
  docs/equals/index.html
  docs/every/index.html
  docs/format/index.html
  docs/in-flight/index.html
  docs/interval/index.html
  docs/not/index.html
  docs/once/index.html
  docs/or/index.html
  docs/pending/index.html
  docs/previous/index.html
  docs/readonly/index.html
  docs/reset/index.html
  docs/reshape/index.html
  docs/snapshot/index.html
  docs/some/index.html
  docs/split-map/index.html
  docs/spread/index.html
  docs/status/index.html
  docs/throttle/index.html
  docs/time/index.html
  sitemap-0.xml
Due: none

fix(doc): operators link list
  documentation/astro.config.mjs
  documentation/src/pages/operators/index.astro
Due: prettier --write

style: reformat with prettier
  documentation/.prettierrc.mjs
  documentation/src/content/docs/guides/installation.mdx
  documentation/src/content/docs/index.mdx
  documentation/src/pages/docs/[operator].astro
  documentation/src/pages/operators/[operator].astro
Due: prettier --write

Deploying to gh-pages from @ effector/patronum@176cf5ff708e1a3a77d90e96476eb08e12bd9a2c 🚀
  docs/and/index.html
  docs/combine-events/index.html
  docs/condition/index.html
  docs/debounce/index.html
  docs/debug/index.html
  docs/delay/index.html
  docs/either/index.html
  docs/empty/index.html
  docs/equals/index.html
  docs/every/index.html
  docs/format/index.html
  docs/in-flight/index.html
  docs/interval/index.html
  docs/not/index.html
  docs/once/index.html
  docs/or/index.html
  docs/pending/index.html
  docs/previous/index.html
  docs/readonly/index.html
  docs/reset/index.html
  docs/reshape/index.html
  docs/snapshot/index.html
  docs/some/index.html
  docs/split-map/index.html
  docs/spread/index.html
  docs/status/index.html
  docs/throttle/index.html
  docs/time/index.html
  index.html
  operators/index.html
Due: none

ref(splitMap): rewrote tests to not modify existing ones
  src/split-map/split-map.fork.test.ts
Due: prettier --write

ref(spread): rewrote tests to not modify existing ones
  src/spread/spread.fork.test.ts
  test-typings/spread.ts
Due: prettier --write

feat(splitMap): added jsdoc
  src/split-map/index.ts
  src/split-map/readme.md
Due: prettier --write

Deploying to gh-pages from @ effector/patronum@587d9366e1e1f20fa83a7086b5fa85598db6e086 🚀
  pagefind/index/en_6688284.pf_index
  pagefind/index/en_b674f97.pf_index
  pagefind/index/en_cefb651.pf_index
  pagefind/index/en_dfc0bd7.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_6b4af6f5ba.pf_meta
  pagefind/pagefind.en_86f332c682.pf_meta
Due: prettier --write --parser json

Deploying to gh-pages from @ effector/patronum@036b2f05cf3065b97cedd29475ed9e046662bf4b 🚀
  operators/spread/index.html
  pagefind/fragment/en_a2fc459.pf_fragment
  pagefind/fragment/en_b5e97fb.pf_fragment
  pagefind/index/en_4607dc6.pf_index
  pagefind/index/en_6688284.pf_index
  pagefind/index/en_dfc0bd7.pf_index
  pagefind/index/en_dfd5341.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3e79e2d656.pf_meta
  pagefind/pagefind.en_86f332c682.pf_meta
Due: prettier --write --parser json

Change typing in some methods
  integration/custom/test/integration.spec.ts
  src/combine-events/index.ts
  src/debug/index.ts
  src/once/index.ts
  src/snapshot/index.ts
  src/split-map/index.ts
  src/throttle/index.ts
  test-library.d.ts
Due: prettier --write

chore: fix link to config in pull request template
  .github/pull_request_template.md
Due: none

Deploying to gh-pages from @ effector/patronum@150c823f8273a3ec6dc28dd2666a25b7dcaa0ddd 🚀
  pagefind/index/en_3c454e7.pf_index
  pagefind/index/en_4607dc6.pf_index
  pagefind/index/en_4c6fc43.pf_index
  pagefind/index/en_dfd5341.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2f3c4ba097.pf_meta
  pagefind/pagefind.en_3e79e2d656.pf_meta
Due: prettier --write --parser json

feat: add skip & take
  src/skip/index.ts
  src/take/index.ts
Due: prettier --write

feat(scripts): add script for copy types and change ext
  scripts/generate-cts.js
Due: prettier --write

infra(rollup.config.js): add typesPlugin to plugins
  rollup.config.js
Due: prettier --write

infra(src): run prettier
  src/babel-plugin-factories.json
  src/debounce/debounce.fork.test.ts
  src/empty/empty.fork.test.ts
  src/interval/interval.test.ts
  src/once/index.ts
  src/pending/pending.fork.test.ts
  src/snapshot/index.ts
  src/throttle/throttle.fork.test.ts
Due: prettier --write, prettier --write --parser json

feat: includes - create an operator that checks if a value exists within a store containing a string or an array
  src/includes/includes.fork.test.ts
  src/includes/includes.test.ts
  src/includes/index.ts
  src/includes/readme.md
Due: prettier --write

feat: includes - correct babel plugin factories and test typings
  src/babel-plugin-factories.json
  test-typings/includes.ts
Due: prettier --write, prettier --write --parser json

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write --parser json: any of: {*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}
